@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
  overflow-x: hidden !important;
  background-color: #fff /*#ecf6f8*/;
}

* {
  font-family: Poppins;
}

button.printerNavBtn {
  background-color: #d2dadd;
  color: #858b8e;
  border-radius: 200px;
  padding: 5px 5px 5px 5px !important;
  vertical-align: middle;
  text-align: center;
  min-width: 7.5rem;
  font-weight: 500;
  transition: all 0.2s;
}

button.printerNavBtn:hover {
  background-color: #009bde98;
  color: white;
}

button.printerNavBtn.activePrinter {
  background-color: #009ade;
  color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

button.contentNavBtn {
  background-color: transparent;
  color: rgb(63, 63, 63);
  border-radius: 0px;
  padding: 5px 10px !important;
  vertical-align: middle;
  text-align: center;
  min-width: 7.5rem;
  font-weight: 400;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.2s;
}
button.contentNavBtn.activeContent {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 0px;
  padding: 5px 10px !important;
  vertical-align: middle;
  text-align: center;
  min-width: 7.5rem;
  border-left: 5px solid #009ade;
  border-bottom: 2px solid #009ade;
  transition: all 0.2s;
}

.buttonHint span {
  color: #009ade;
}

.imageViewer {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.imageViewer.viewerActive {
  visibility: visible;
  opacity: 1;
}

.imageViewer img {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  height: 95% !important;
}

.imageViewer .closeBtn {
  position: absolute;
  right: 50px;
  top: 40px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  z-index: 200;
}
